<div class="card">
    <div class="card body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus recusandae necessitatibus enim delectus. Neque excepturi sint aliquam rem, optio dignissimos quas tenetur ex qui consequatur! Libero voluptatem nulla suscipit officia nostrum facilis culpa quisquam omnis quia, laboriosam reprehenderit voluptatum architecto!</p>
    </div>
</div>