<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJS and MongoDb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam veritatis nesciunt aut rem incidunt culpa minima consectetur. Atque enim odio quo, nihil eaque at provident nam rem sapiente tempore facere?</p>
    <a href="" class="btn btn-primary btn-lg">My Web</a>
</div>